
Android/Olora_beta/.idea/caches/build_file_checksums.ser
Android/Olora_beta/.idea/gradle.xml
Android/Olora_beta/.idea/misc.xml
Android/Olora_beta/.idea/runConfigurations.xml
Android/Olora_beta/gradle.properties
Android/Olora_beta/gradle.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/O-LoRa.iml
.idea/modules.xml
Android/Olora_beta/gradle.properties
Android/Olora_beta/.idea/caches/build_file_checksums.ser
Android/Olora_beta/.idea/gradle.xml
Android/Olora_beta/.idea/misc.xml
Android/Olora_beta/.idea/runConfigurations.xml
Android/Olora_beta/gradle.properties
Android/Olora_beta/.idea/misc.xml
