[Unit]
Description=OLoRa XBee Control Unit
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/olora/xbee/oloraXB.py
WorkingDirectory=/usr/local/olora/xbee/

[Install]
WantedBy=multi-user.target
